stages:
    - build
    - test

image: gcc

build:
    stage: build
    before_script:
        - apt-get update -qq && apt-get install -y -qq gcc-8 g++-8 make cmake
        - gcc -v
        - g++ -v
        - cmake --version
    script: "echo Hello World!"

test:
    stage: test
    before_script:
        - apt-get update -qq && apt-get install -y -qq cmake
        - cmake --version
    script: "echo Test World!"

